0.3.2/jiemamy-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    targetNamespace="http://jiemamy.org/xml/ns/core"
    xmlns="http://jiemamy.org/xml/ns/core"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    version="0.3">

  <xs:annotation>
    <xs:documentation xml:lang="en">Jiemamy XML model schema</xs:documentation>
    <xs:documentation xml:lang="ja-JP">Jiemamy XML モデルスキーマ</xs:documentation> 
  </xs:annotation>
  
  <xs:element name="jiemamy">
    <xs:annotation>
      <xs:documentation xml:lang="en">Root element of Jiemamy XML model</xs:documentation>
      <xs:documentation xml:lang="ja-JP">Jiemamy XML モデルのルート要素</xs:documentation> 
      <xs:appinfo></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="metadata"/>
        <xs:element name="dbobjects" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Database Object definition</xs:documentation>
            <xs:documentation xml:lang="ja-JP">DBオブジェクト定義部</xs:documentation> 
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="dbObject"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="dataSets" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Insert data definition</xs:documentation>
            <xs:documentation xml:lang="ja-JP">データセット定義部</xs:documentation> 
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="dataSet" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##other"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation xml:lang="en">Jiemamy model schema version.</xs:documentation>
          <xs:documentation xml:lang="ja-JP">スキーマのバージョン</xs:documentation> 
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dialect" type="fqcnType" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Default SQL Dialect</xs:documentation>
            <xs:documentation xml:lang="ja-JP">デフォルトで利用するSQL方言を表す</xs:documentation> 
          </xs:annotation>
        </xs:element>
        <xs:element name="schemaName" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Schema name</xs:documentation>
            <xs:documentation xml:lang="ja-JP">スキーマ名を表す</xs:documentation> 
          </xs:annotation>
        </xs:element>
        <xs:element ref="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Database description</xs:documentation>
            <xs:documentation xml:lang="ja-JP">データベースの説明文</xs:documentation> 
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dbObject" abstract="true" type="dbObjectType"/>
  <xs:complexType name="dbObjectType" abstract="true">
    <xs:sequence>
      <xs:element ref="name">
        <xs:annotation>
          <xs:documentation xml:lang="en">Physical name of Database Object</xs:documentation> 
          <xs:documentation xml:lang="ja-JP">DBオブジェクト物理名</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="logicalName" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Logical name of Database Object</xs:documentation> 
          <xs:documentation xml:lang="ja-JP">DBオブジェクト論理名</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="description" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Database Object description</xs:documentation>
          <xs:documentation xml:lang="ja-JP">DBオブジェクトの説明文</xs:documentation> 
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="domain" substitutionGroup="dbObject">
    <xs:annotation>
      <xs:documentation xml:lang="en">Data type domain</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">ドメイン</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dbObjectType">
          <xs:sequence>
            <xs:element ref="dataType" />
            <xs:element name="notNull" type="xs:boolean" minOccurs="0"/>
            <xs:element ref="check" minOccurs="0"/>
            <xs:element ref="parameters" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="id" type="uuidType" use="required"/>
          <xs:attribute name="class" type="fqcnType" use="optional" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="table" substitutionGroup="dbObject">
    <xs:annotation>
      <xs:documentation xml:lang="en">TABLE definition</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">テーブル定義</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dbObjectType">
          <xs:sequence>
            <xs:element name="columns">
              <xs:annotation>
                <xs:documentation xml:lang="en">Column definition</xs:documentation>
                <xs:documentation xml:lang="ja-JP">カラム定義部</xs:documentation> 
              </xs:annotation>
              <xs:complexType>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="column" minOccurs="0" maxOccurs="unbounded"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="constraints">
              <xs:annotation>
                <xs:documentation xml:lang="en">Constraint definition</xs:documentation>
                <xs:documentation xml:lang="ja-JP">制約定義部</xs:documentation> 
              </xs:annotation>
              <xs:complexType>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="primaryKey" minOccurs="0" />
                  <xs:element ref="uniqueKey" minOccurs="0" maxOccurs="unbounded" />
                  <xs:element ref="foreignKey" minOccurs="0" maxOccurs="unbounded" />
                  <xs:element ref="notNull" minOccurs="0" maxOccurs="unbounded" />
                  <xs:element ref="check" minOccurs="0" maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element ref="parameters" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="class" type="fqcnType" use="optional" />
          <xs:attribute name="id" type="uuidType" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="view" substitutionGroup="dbObject">
    <xs:annotation>
      <xs:documentation xml:lang="en">VIEW definition</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">ビュー定義</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dbObjectType">
          <xs:sequence>
            <xs:element name="definition" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="en">View definition</xs:documentation>
                <xs:documentation xml:lang="ja-JP">ビューの定義SELECT文</xs:documentation> 
              </xs:annotation>
            </xs:element>
            <xs:element ref="parameters" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="class" type="fqcnType" use="optional" />
          <xs:attribute name="id" type="uuidType" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="index" substitutionGroup="dbObject">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dbObjectType">
          <xs:sequence>
            <xs:element ref="indexColumns" />
            <xs:element name="unique" type="xs:boolean" />
            <xs:element ref="parameters" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="class" type="fqcnType" use="optional" />
          <xs:attribute name="id" type="uuidType" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="column">
    <xs:annotation>
      <xs:documentation xml:lang="en">Column of table</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">テーブルのカラム</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name">
          <xs:annotation>
            <xs:documentation xml:lang="en">Physical name of Column</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">カラム物理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="logicalName" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Logical name of Column</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">カラム論理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Column description</xs:documentation>
            <xs:documentation xml:lang="ja-JP">カラムの説明文</xs:documentation> 
          </xs:annotation>
        </xs:element>
        <xs:element ref="dataType" />
        <xs:element ref="defaultValue" minOccurs="0" />
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>


  <xs:element name="primaryKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Physical name of Table PRIMARY KEY</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">テーブル主キー名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="logicalName" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Logical name of Table PRIMARY KEY</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">テーブル主キー論理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Table primary key description</xs:documentation>
            <xs:documentation xml:lang="ja-JP">テーブル主キーの説明文</xs:documentation> 
          </xs:annotation>
        </xs:element>
        <xs:element ref="keyColumns" minOccurs="1"/>
        <xs:element ref="deferrability" minOccurs="0"/>
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="uniqueKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Physical name of Table UNIQUE key</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">テーブル一意キー名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="logicalName" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Logical name of Table UNIQUE key</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">テーブル一意キー論理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Table unique key description</xs:documentation>
            <xs:documentation xml:lang="ja-JP">テーブル一意キーの説明文</xs:documentation> 
          </xs:annotation>
        </xs:element>
        <xs:element ref="keyColumns" minOccurs="1"/>
        <xs:element ref="deferrability" minOccurs="0" />
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="foreignKey">
    <xs:annotation>
      <xs:documentation xml:lang="en">Foreign key definition</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">外部キー</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Physical name of FOREIGN KEY</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">外部キー名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="logicalName" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Logical name of FOREIGN KEY</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">外部キー論理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="description" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Foreign key description</xs:documentation>
            <xs:documentation xml:lang="ja-JP">外部キーの説明文</xs:documentation> 
          </xs:annotation>
        </xs:element>
        <xs:element ref="keyColumns" minOccurs="0"/>
        <xs:element name="referenceColumns" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="columnRef" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="deferrability" minOccurs="0" />
        <xs:element name="matchType" type="matchTypeType" minOccurs="0"/>
        <xs:element name="onDelete" type="referentialActionType" minOccurs="0" />
        <xs:element name="onUpdate" type="referentialActionType" minOccurs="0" />
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="notNull">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Physical name of NOT NULL constraint</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">NOT NULL制約物理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="logicalName" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Logical name of NOT NULL constraint</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">NOT NULL制約論理名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="deferrability" minOccurs="0" />
        <xs:element ref="columnRef" />
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="check">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Physical name of CHECK constraint</xs:documentation> 
            <xs:documentation xml:lang="ja-JP">CHECK制約名</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="logicalName" minOccurs="0" />
        <xs:element ref="description" minOccurs="0" />
        <xs:element ref="deferrability" minOccurs="0" />
        <xs:element name="expression" type="xs:string" />
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="keyColumns">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="columnRef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="columnRef">
    <xs:complexType mixed="true">
      <xs:attribute name="ref" type="uuidRefType" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="indexColumns">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="indexColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="indexColumn">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="name" minOccurs="0" />
        <xs:element ref="columnRef" />
        <xs:element name="sortOrder" type="sortOrderType" minOccurs="0" />
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
    </xs:complexType>
  </xs:element>
  
  
  <xs:element name="dataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Data type</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">データ型</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="typeDesc"/>
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="typeDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="typeCategory" minOccurs="0" type="typeCategoryType"/>
        <xs:element name="typeName" minOccurs="0" type="xs:string"/>
        <xs:element ref="parameters" minOccurs="0"/>
      </xs:sequence>
      <!-- TODO refがある時は、子elementは無しとしたい -->
      <xs:attribute name="ref" type="uuidRefType" use="optional" />
      <xs:attribute name="class" type="fqcnType" use="optional" />
    </xs:complexType>
  </xs:element>
  

  <xs:element name="dataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name" minOccurs="0" />
        <xs:element ref="tableRecords" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="class" type="fqcnType" use="optional" />
      <xs:attribute name="id" type="uuidType" use="required" />
    </xs:complexType>
  </xs:element>
  

  <xs:element name="parameters">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="parameter">
          <xs:complexType mixed="true">
            <xs:attribute name="key" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="deferrability">
    <xs:complexType mixed="true">
      <xs:attribute name="class" type="fqcnType" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="tableRecords">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="tableRecord">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="records" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="record"/>
                  </xs:sequence>
                  <xs:attribute name="class" type="fqcnType" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" type="uuidRefType" use="required" />
            <xs:attribute name="class" type="fqcnType" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="record">
    <xs:complexType mixed="true">
      <xs:attribute name="engine" type="fqcnType" use="optional" />
      <xs:attribute name="ref" type="uuidRefType" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="name" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Physical name of Jiemamy model</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">モデル物理名</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="logicalName" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Logical name of Jiemamy model</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">モデル論理名</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="description" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Description for Jiemamy model</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">モデルに対する説明文</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="defaultValue" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">Default value</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">デフォルト値</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- 単純型 -->
  
  <xs:simpleType name="uuidType">
    <xs:annotation>
      <xs:documentation xml:lang="en">UUID type</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">UUID定義型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    <!-- 
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
     -->
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="uuidRefType"><!-- TODO xs:key要素を使って、存在しないIDを参照できないようにしたい -->
    <xs:annotation>
      <xs:documentation xml:lang="en">Reference to UUID type</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">UUID参照型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    <!-- 
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
     -->
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="fqcnType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Fully qualified class name type</xs:documentation> 
      <xs:documentation xml:lang="ja-JP">完全修飾クラス名型</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z][A-Za-z0-9]*\.)*[A-Za-z][A-Za-z0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeCategoryType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CHARACTER" />
      <xs:enumeration value="VARCHAR" />
      <xs:enumeration value="CLOB" />
      <xs:enumeration value="BLOB" />
      <xs:enumeration value="BIT" />
      <xs:enumeration value="VARBIT" />
      <xs:enumeration value="NUMERIC" />
      <xs:enumeration value="DECIMAL" />
      <xs:enumeration value="INTEGER" />
      <xs:enumeration value="SMALLINT" />
      <xs:enumeration value="FLOAT" />
      <xs:enumeration value="REAL" />
      <xs:enumeration value="DOUBLE" />
      <xs:enumeration value="BOOLEAN" />
      <xs:enumeration value="DATE" />
      <xs:enumeration value="TIME" />
      <xs:enumeration value="TIMESTAMP" />
      <xs:enumeration value="INTERVAL" />
      <xs:enumeration value="OTHER" />
      <xs:enumeration value="UNKNOWN" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="referentialActionType">
    <xs:annotation>
      <xs:documentation xml:lang="ja-JP">onDelete/onUpdateに設定できる値</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="CASCADE" />
      <xs:enumeration value="SET_NULL" />
      <xs:enumeration value="SET_DEFAULT" />
      <xs:enumeration value="RESTRICT" />
      <xs:enumeration value="NO_ACTION" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="matchTypeType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="SIMPLE" />
      <xs:enumeration value="FULL" />
      <xs:enumeration value="PARTIAL" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sortOrderType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>